.userprofile_container {
  display: flex;
  margin: 2% 10% 0 4%;
}

.userprofile_profile {
  display: flex;
  flex: 1;
}

.userprofile_info_container {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.userProfile_info {
  margin-top: 20px;
}