.nav_options ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav_options li {
    padding: 2%;
}

.nav_options li a {
    display: flex;
    color: #000;
    text-decoration: none;
}

.nav_options li:hover:not(.active) {
    border: 0px solid #4CAF50;
    border-bottom: 2px solid;
    border-bottom-color: lightblue;
}

.active {
    font-weight: bold;
}